[submodule "ropaolle/--force"]
	path = ropaolle/--force
	url = https://github.com/Track3/hermit.git
[submodule "ropaolle/themes/hermit"]
	path = ropaolle/themes/hermit
	url = https://github.com/Track3/hermit.git
