---
// import {Email, FlagSweden, FlagUsa, Phone} from "./icons.astro";

import UsaFlag from "./UsaFlag.astro";
---

<>
  <div class="mb-1 text-xl uppercase tracking-wide text-sky-500">
    Kontakt
  </div>
  <div>Olof Sjögren</div>
  <div>Fridshyddevägen 1</div>
  <div>191 36 SOLLENTUNA</div>
  <div>Sverige</div>
  <div class="mt-2 flex">
    <!-- <Phone class="mr-2" /> -->
     070–7165447
  </div>
  <div class="flex">
    <!-- <Email class="mr-2" /> -->
     olof.sjogren@ropaolle.se
  </div>
  <div class="mt-4 font-semibold text-sky-500">Datum/födelseort</div>
  <div>11 maj 1971</div>
  <div>Sollentuna</div>
  <div class="mt-4 font-semibold text-sky-500">Nationalitet</div>
  <div>Svensk</div>
  <div class="mt-4 font-semibold text-sky-500">Språk</div>
  <div class="flex">
    <!-- <FlagSweden class="mr-2" /> -->
     Svenska modersmål
  </div>
  <div class="flex">
    <UsaFlag class="mr-2" />
     Engelsk flytande
  </div>
</>
